body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure the body takes at least the viewport height */
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0;
    padding: 0;
}

header a:hover {
    text-decoration: underline;
}

/* Container for content and footer */
.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Content styles */
.content {
    padding: 20px;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
    /* Grow to fill available space */
    overflow-y: auto;
    /* Add scroll if content overflows */
}


.content {
    background-color:  #299B63;
    padding: 7.092% 6.258%;
    width: 89.2%;
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
}

.section .page-title {
    font-weight: 300;
    color:  #299B63;
}

.section .page-title span {
    font-weight: 600;
}

.centered {
    text-align: center;
}

.inner-container {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0.75rem;
}

.about-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-holder .aboutimg {
    position: absolute;
    left: 48%;
    bottom:2rem;
    width: 40%;

}

.aboutimg {
    aspect-ratio: 16/10.65;
}

@media (max-width: 991px) {
    .aboutimg {
        max-width: 85%;
        transform: translateY(-20px);
        width: 100%;
    }
}

.aboutimg {
    max-width: 651px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 35vw;
}