{% extends 'employee/ebase2.html'%}
{%load static%}
{%block slidebar %}
<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'employee-eborrowedbook' %}">
                <i class="fas fa-th-large"></i>
                <div>Dashboard</div>
            </a>
        </li>
        <li>
            <a href="{% url 'employee-addborrowedbook' %}">
                <i class="fas fa-book"></i>
                <div>Add Borrowed Book</div>
            </a>
        </li>
        
        {% include "employee/logout-button.html" %}
    </ul>
</div>
{% endblock %}
{%block charts %}
    <div class="charts">
        <div class="add-book-box">
            <h2>Add Borrowed Book</h2>
            <!-- addBorrowedBookForm -->
           <form method="post"  enctype="multipart/form-data" id="addBorrowedBookForm">
            {%csrf_token%}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help" id="{{ field.auto_id }}_helptext">
                    {{ field.help_text|safe }}
                </p>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="done-button" >Add Book</button>
        </form>
            
        </div>
    </div>
    <script>
        function addBorrowedBook() {
            const formData = new FormData(document.getElementById('addBorrowedBookForm'));
    
            fetch('{% url "employee-addborrowedbook" %}', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response, you can update the table or do other actions
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    
        function redirectToDashboard() {
            window.location.href = '{% url "employee-eborrowedbook" %}';
        }
    </script>
{% endblock %}