{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'employee/employee.css' %}">
    <link rel="stylesheet" href="{% static 'employee/profile.css' %}">
    <link rel="stylesheet" href="{% static 'employee/detail.css' %}">
    <title>Employee Panel</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <a href="/"><img src="https://heraldcollege.edu.np/images/footer/footer-logo.svg"
                        alt="Herald College Logo"></a>
            </div>
            <div class="search">
                <input type="text" id="searchInput" name="search" placeholder="Search here">
                <label for="search"><i class="fas fa-search"></i></label>
            </div>
            <i class="fas fa-bell"></i>
            <div class="user">
                <img src="{%static 'employee/images.png'%}" alt="" id="user-avatar">
                <div class="dropdown" id="user-dropdown">
                    <a href="#">{{user_fullname}}</a>
                    <a href="{% url 'employee-changepw' %}">Change Password</a>
                    <a href="#" onclick="confirmLogout()">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="{% url 'employee-edashboard' %}">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'employee-ebook' %}">
                        <i class="fas fa-books"></i>
                        <div> Books</div>
                    </a>
                </li>

                {% include "employee/logout-button.html" %}
            </ul>
        </div>
        <div class="main">
            <div class="charts">
                <div class="content-container1">
                    <div class="book-item1">
                        <img src="{{book.image.url}}" alt="Book Image" class="book-image1">
                        <div class="book-info-box">
                            <h2>{{ book.book_name}}</h2>

                            <p><span class="bold">Author: </span>{{ book.author }}</p>
                            <p><span class="bold">Publication Date: </span>{{ book.publication_date }}</p>
                            <p><span class="bold">Subject: </span> {{ book.subject}} </p>
                            <p> <span class="bold">Description: </span>{{ book.description }}</p>
                            <p> <span class="bold"> Publisher: </span> {{ book.publisher }}</p>
                            <p> <span class="bold">Edition: </span>{{ book.edition}}</p>
                            <p><span class="bold">Identifier:</span>{{ book.isbn}}</p>
                            {% if book.is_available%}
                            <p><span class="bold">Status:</span> Available</p>
                            {% else %}
                            <p><span class="bold">Status: </span>Not Available</p>
                            {% endif %}
                            <div id="reviewsContainer">
                                <h3>Reviews</h3>
                                {% for review in book.reviews.all %}
                                <div>
                                    <p><strong>Rating:</strong> {{review.rating}}</p><p><strong>Review:</strong>{{review.review}}</p>
                                    <p><strong>Rated by:</strong> {{review.user.username}}</p>
                                </div>
                                
                                {%endfor%}
                                {%if not book.reviews.all|length  %}
                                <div>
                                    No reviews yet.
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <script src="{% static 'employee/logout.js' %}"></script>
        <script src="{% static 'employee/profile.js' %}"></script>



</body>

</html>