{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'employee/employee.css' %}">
    <link rel="stylesheet" href="{% static 'employee/profile.css' %}">


    <title>Employee Panel</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <a href="/"><img src="https://heraldcollege.edu.np/images/footer/footer-logo.svg"
                        alt="Herald College Logo"></a>
            </div>
            <div class="search">
                <input type="text" id="searchInput" name="search" placeholder="Search here">
                <label for="search"><i class="fas fa-search"></i></label>
            </div>
            <i class="fas fa-bell"></i>
            <div class="user">
                <img src="{%static 'employee/images.jpg'%}" alt="" id="user-avatar">
                <div class="dropdown" id="user-dropdown">
                    <a href="#">{{user_fullname}}</a>
                    <a href="{% url 'employee-changepw' %}">Change Password</a>
                    <a href="#" onclick="confirmLogout()">Logout</a>
                </div>
            </div>
        </div>
        {%block slidebar %}
        {% endblock %}
        <div class="main">
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">{{student_count}}</div>
                        <div class="card-name">Students</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">{{ book_count }}</div>
                        <div class="card-name">Books</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-books"></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">{{ borrowed_book_count }}</div>
                        <div class="card-name">Book Borrowed</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-books"></i>
                    </div>
                </div>
            </div>
            <div class="charts">

                <table class="content-table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Book ID</th>
                            <th style="text-align: left;">Book Name</th>
                            <th style="text-align: left;">Student Name</th>
                            <th style="text-align: left;">Borrowed Date</th>
                            <th style="text-align: left;">Returned Date</th>
                            <th style="text-align: left;">Fine</th>
                            <th style="text-align: left;">
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for borrowed_book in borrowed_books %}
                        <tr class="searchable-content">
                            <td>{{ borrowed_book.book.isbn }}</td>
                            <td>{{ borrowed_book.book.book_name }}</td>

                            <td>{{ borrowed_book.student.username }}</td>
                            <td>{{ borrowed_book.borrowed_date }}</td>
                            <td>{{ borrowed_book.returned_date }}</td>
                            <td>{{ borrowed_book.fine }}</td>
                            {% if  borrowed_book.is_borrowed is None %}
                            <td>
                                <a href="{% url 'employee-editborrowedbook' borrowed_book.id %}" style="margin-right: 10px;">Edit</a>
                                <a href="{% url 'approve-borrow-book' borrowed_book.id %}" style="margin-right: 10px; color: green;">Approve</a>
                                <a href="{% url 'decline-borrow-book' borrowed_book.id %}" style= "color: red;">Decline</a>
                            </td>
                            
                            {% else %}
                            <td>
                                <a href="{%url 'employee-editborrowedbook' borrowed_book.id %}">Edit</a>
                                {% if borrowed_book.is_borrowed%}
                                <span style=" color:#299b63;">Approved</span>
                                {% else %}
                                <span style="color:red;">Declined</span>
                                {% endif %} 
                            </td>
                            {% endif %} 
                            
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'employee/profile.js' %}"></script>

    <!-- script for search -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('searchInput');
            const rows = document.querySelectorAll('.searchable-content');

            searchInput.addEventListener('input', function () {
                const searchTerm = searchInput.value.trim().toLowerCase();

                rows.forEach(function (row) {
                    const contentText = row.innerText.toLowerCase();
                    const containsTerm = contentText.includes(searchTerm);

                    row.style.display = containsTerm ? '' : 'none';
                });
            });

            // Add this event listener to reset visibility when the input is cleared
            searchInput.addEventListener('input', function () {
                const searchTerm = searchInput.value.trim().toLowerCase();

                if (searchTerm === '') {
                    rows.forEach(function (row) {
                        row.style.display = ''; // Reset visibility
                    });
                }
            });
        });
    </script>


</body>

</html>