{% extends 'employee/ebase3.html'%}
{%load static%}
{%block slidebar %}
       
<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'employee-edashboard' %}">
                <i class="fas fa-th-large"></i>
                <div>Dashboard</div>
            </a>
        </li>
        <li>
            <a href="{% url 'employee-addborrowedbook' %}">
                <i class="fas fa-book"></i>
                <div>Add Borrowed Book</div>
            </a>
        </li>
       
        <li>
            <a href="{% url 'generate_borrowed_books_excel' %}">
                <i class="fas fa-download"></i> 
                <div>Download Borrowed Books Excel</div>
            </a>
        </li>
        

        
        {% include "employee/logout-button.html" %}
    </ul>
</div>
{% endblock %}