{% extends 'employee/ebase3.html'%}
{%load static%}
{%block slidebar %}
       
<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'employee-edashboard' %}">
                <i class="fas fa-th-large"></i>
                <div>Dashboard</div>
            </a>
        </li>
        <li>
            <a href="{% url 'employee-addborrowedbook' %}">
                <i class="fas fa-book"></i>
                <div>Add Borrowed Book</div>
            </a>
        </li>
        <li>
            <a href="{% url 'employee-editborrowedbook' %}">
                <i class="fas fa-book"></i>
                <div>Edit Borrowed Books</div>
            </a>
        </li>
        <li>
            <a href="{% url 'employee-deleteborrowedbook' %}">
                <i class="fas fa-book"></i>
                <div>Delete Borrowed Books</div>
            </a>
        </li>
        
        <li>
            <a href="#"onclick="confirmLogout()">
                <i class="fas fa-sign-out-alt"></i>
                <div>Logout</div>
            </a>    
        </li>
    </ul>
</div>
{% endblock %}