{% extends 'employee/ebase.html'%}
{%load static%}
{%block slidebar %}
       
<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'employee-edashboard' %}">
                <i class="fas fa-th-large"></i>
                <div>Dashboard</div>
            </a>
        </li>
        <li>
            <a href="{% url 'employee-ebook' %}">
                <i class="fas fa-books"></i>
                <div> Books</div>
            </a>
        </li>
        <li>
            <a href="{% url 'employee-eborrowedbook' %}">
                <i class="fas fa-book"></i>
                <div>Borrowed Book </div>
            </a>
        </li>
        
        <li>
            <a href="{% url 'generate_pdf_report' %}" target="_blank">
                <i class="fas fa-file-pdf"></i>
                <div>Generate PDF Report</div>
            </a>
        </li>

        {% include "employee/logout-button.html" %}
    </ul>
</div>
{% endblock %}