

.content-container1 {
    display: flex;
    flex-wrap: wrap;

}


.book-item1 p {
    margin: 5px 0;
    color: white;
}
.book-item1 {
    display: flex;
    align-items: center;
    border: 1px solid  #299b63;
    padding: 10px;
    margin: 10px;
    width: 1000px; 
    box-sizing: border-box;
    background-color: #299b63;
}

.book-image1 {
    max-width: 100px; 
    max-height: 150px; 
    margin-bottom: 340px;
    margin-right: 10px;
    position: relative;
}



