
.bold{
    font-weight: bold;
}
.content-container1 {
    display: flex;
    flex-wrap: wrap;

}


.book-item1 p {
    margin: 5px 0;
    color: white;
}
.book-item1 {
    display: flex;
    border: 1px solid  #299b63;
    padding: 10px;
    margin: 10px;
    width: 1000px; 
    box-sizing: border-box;
    background-color: #299b63;
    height: fit-content;
}

.book-image1 {
    max-width: 100px; 
    max-height: 150px; 
    margin-bottom: 340px;
    margin-right: 10px;
    position: relative;
}

.borrowed-book-link {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #299b63;
    text-decoration: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: block;
    outline: none;
    border: none;
    min-width: 120px;
}

.borrowed-book-link:hover {
    background-color:  #0ae4ad;
    color: #f2f8f5;
}
.borrowed-form-wrapper{
   
    padding: 1rem;
    position: relative;

}

.form-container {
    background-color: #f2f8f5; 
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px; 
    display: none;
    
}

.form-container label,
.form-container input,
.form-container button {
    display: block;
    margin-bottom: 10px;
    color:#299b63;
}

.form-container button {
    background-color: #299b63;
    color: #333;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



