

.content-container1 {
    display: flex;
    flex-wrap: wrap;

}


.book-item1 p {
    margin: 5px 0;
    color: white;
}
.book-item1 {
    display: flex;
    border: 1px solid  #299b63;
    padding: 10px;
    margin: 10px;
    width: 1000px; 
    box-sizing: border-box;
    background-color: #299b63;
}

.book-image1 {
    max-width: 100px; 
    max-height: 150px; 
    margin-bottom: 340px;
    margin-right: 10px;
    position: relative;
}

.borrowed-book-link {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color:  #3498db;
    text-decoration: none;
}

.borrowed-book-link:hover {
    background-color:  #3498db;
}

.form-container {
    background-color: #f2f8f5; 
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px; 
    display: none; 
}

.form-container label,
.form-container input,
.form-container button {
    display: block;
    margin-bottom: 10px;
    color:#299b63;
}

.form-container button {
    background-color: #299b63;
    color: #333;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}