{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="{% static 'student/student.css' %}"> -->
    <link rel="stylesheet" href="{% static 'employee/profile.css' %}">
    <link rel="stylesheet" href="{% static 'employee/addbook.css' %}">
    <link rel="stylesheet" href="{% static 'employee/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'employee/employee.css' %}">
    <body>
        <div class="container">
            <div class="topbar">
                <div class="logo">
                    <a href="/"><img src="https://heraldcollege.edu.np/images/footer/footer-logo.svg" alt="Herald College Logo"></a>
                </div>
                <div class="search">
                    <input type="text" name="search" placeholder="search here">
                    <label for="search"><i class="fas fa-search"></i></label>
                </div>
                {%include 'student/notification.html'%}
                <div class="user">
                    <img src="{%static 'employee/images.png'%}" alt="" id="user-avatar">
                    <div class="dropdown" id="user-dropdown">
                        <a href="#">{{user_fullname}}</a>
                        <a href="{% url 'employee-changepw' %}">Change Password</a>
                        <a href="#" onclick="confirmLogout()">Logout</a>
                    </div>
                </div>
            </div>
    
 
    <title>Student Panel</title>
</head>
<div class="sidebar">
    <ul>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="{% url 'student_dashboard' %}">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'student-bookselves' %}">
                        <i class="fas fa-books"></i>
                        <div>My Book</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'student-addbook' %}">
                        <i class="fas fa-books"></i>
                        <div>Add Book</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'student-deletebook' %}">
                        <i class="fas fa-book"></i>
                        <div>Delete Book</div>
                    </a>
                </li>
                
                {% include "employee/logout-button.html" %}
                
            </ul>
        </div>

        <!-- {% include "employee/logout-button.html" %} -->
    </ul>
</div>
<div class="charts">
    <div class="add-book-box">
        <h2>My Book</h2>
        <form id="addBookForm">

            <div class="form-group">
                <label for="bookName">Book Name:</label>
                <input type="text" id="bookName" name="bookName" required>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" required>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" required>
            </div>
            <div class="form-group">
                <label for="about">About:</label>
                <input type="text" id="about" name="about" required>
            </div>
    
            <div class="button-group">
                <button type="button" class="add-button" onclick="addBook()">Submit</button>

            </div>
        </form>   
    </div>
</div>
<script>
    function addBook() {
        console.log('addBook function called');
        const formData = new FormData(document.getElementById('addBookForm'));

        fetch('{% url "student-addbook" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',  // Add the header for Django to identify AJAX requests
                'X-CSRFToken': '{{ csrf_token }}'      // Add the CSRF token for security
            },
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response, you can update the table or do other actions
            console.log(data);
            window.location.href = '{% url "student-bookselves" %}';
        })
        .catch(error => {
        console.error('Error:', error);
         alert('Error adding book. Please try again.');
        });

    }

    function redirectToDashboard() {
        window.location.href = '{% url "student-bookselves" %}';
    }
</script>

    

    