{% extends 'student/abase.html'%}
{%block content %}
<div class="charts">
            <table class="content-table" >
                <thead>
                  <tr>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Borrowed Date</th>
                    <th>Returned Date</th>
            
                  </tr>
                </thead>
                <tbody>
                  {% for borrowed_book in borrowed_books %}
                  <tr class="searchable-content">
                          <td>{{ borrowed_book.borrowedbook_id }}</td>
                          <td>{{ borrowed_book.borrowedbook_name }}</td>
                          <td>{{ borrowed_book.student_id }}</td>
                          <td>{{ borrowed_book.student_name }}</td>
                          <td>{{ borrowed_book.borrowed_date }}</td>
                          <td>{{ borrowed_book.returned_date }}</td>
        
                      </tr>
                  {% endfor %}
              </tbody>
            
    </table>

    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
const searchInput = document.getElementById('searchInput');
const rows = document.querySelectorAll('.searchable-content');

searchInput.addEventListener('input', function () {
const searchTerm = searchInput.value.trim().toLowerCase();

rows.forEach(function (row) {
    const contentText = row.innerText.toLowerCase();
    const containsTerm = contentText.includes(searchTerm);

    row.style.display = containsTerm ? '' : 'none';
});
});

// Add this event listener to reset visibility when the input is cleared
searchInput.addEventListener('input', function () {
const searchTerm = searchInput.value.trim().toLowerCase();

if (searchTerm === '') {
    rows.forEach(function (row) {
        row.style.display = ''; // Reset visibility
    });
}
});
});
</script>
{% endblock %}
{% load static %}
{% block js%}
    <script src="{% static 'employee/profile.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="{% static 'student/chart.js' %}"></script>
{%endblock%}