{% extends 'student/abase.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'student/requestbook.css' %}">
{% endblock %}
{% block content %}
<div class="add-book-box">
    <h2>Request Book</h2>
    <div id="msg-container">


    </div>
    <form id="addBookForm">
        <div class="form-group">
            <label for="studentID">Student ID:</label>
            <input type="text" id="studentID" name="studentID" required>
        </div>
        <div class="form-group">
            <label for="bookName">Book Name:</label>
            <input type="text" id="bookName" name="bookName" required>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" required>
        </div>
        {% csrf_token %}
        <div class="button-group">
            <button type="button" class="add-button" onclick="submitBook()">Submit</button>
        </div>
    </form>
</div>
<script>
const messagecontainer= document.getElementById("msg-container")      
const messagebox= `<p class="alert-message">Book Request Sucessful!</p>`
function submitBook() {
    const formData = new FormData(document.getElementById('addBookForm'));

    fetch('{% url "employee-requestfromstudent" %}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        },
    })
    .then(res=>res.json())
    .then(data => {
        console.log(data);
        if (data.message === 'success') {
            // Update your employee panel with the book information
            const bookInfo = data.book_info;
            // Add logic to update the employee panel with the book information
            console.log('Book Information:', bookInfo);
            messagecontainer.innerHTML=messagebox
        } else {
            // Handle other cases or show an error message
            console.error('Error:', data.message);
        }
    })
    .catch(error => {
        console.error('Fetch Error:', error);
    });
}



</script>
{% endblock %}
