{% extends 'student/abase.html'%}
{%block content %}
<div class="charts">
	<table class="content-table" >
		<thead>
		  <tr>
		  <th>Book ID</th>
		  <th>Book Name</th>
		  <th>Author</th>
		  <th>Category</th>
		  <th>Reviews</th>
		  <th>Ratings</th>
		  </tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>ABC</td>
				<td>sjkhfiwuf</td>
				<td>Java</td>
				<td>adhdcbjsadhcasdh</td>
				<td class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

			   

			</tr>
			<tr>
				<td>1</td>
				<td>ABC</td>
				<td>sjkhfiwuf</td>
				<td>Java</td>
				<td>asjhdajscha</td>
				<td class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

				
			</tr>
			<tr>
				<td>1</td>
				<td>ABC</td>
				<td>sjkhfiwuf</td>
				<td>Java</td>
				<td>djhbajfaehb</td>
				<td class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
</tr>
			</tr>
			
		</tbody>
		</table>
	</div>
</div>
</div>
{% endblock %}