{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'employee/employee.css' %}">
    <link rel="stylesheet" href="{% static 'employee/profile.css' %}">
    <link rel="stylesheet" href="{% static 'employee/detail.css' %}">
    <link rel="stylesheet" href="{% static 'employee/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'student/reviews.css' %}">
    <title>Student Panel</title>

</head>
<style>

</style>

<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <a href="/"><img src="https://heraldcollege.edu.np/images/footer/footer-logo.svg"
                        alt="Herald College Logo"></a>
            </div>
            <div class="search">
                <input type="text" id="searchInput" name="search" placeholder="Search here">
                <label for="search"><i class="fas fa-search"></i></label>
            </div>
            {%include 'student/notification.html'%}
            <div class="user">
                <img src="{% static 'employee/images.png' %}" alt="" id="user-avatar">
                <div class="dropdown" id="user-dropdown">
                    <a href="#">{{user_fullname}}</a>
                    <a href="{% url 'employee-changepw' %}">Change Password</a>
                    <a href="#" onclick="confirmLogout()">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="{% url 'student_dashboard' %}">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>

                {% include "employee/logout-button.html" %}
            </ul>
        </div>
        <div class="main">
            <div class="charts">
                <div class="content-container1">
                    <div class="book-item1">
                        <img src="{{book.image.url}}" alt="Book Image" class="book-image1">
                        <div class="book-info-box">
                            <h2>{{ book.book_name}}</h2>

                            <p><span class="bold">Author: </span>{{ book.author }}</p>
                            <p><span class="bold">Publication Date: </span>{{ book.publication_date }}</p>
                            <p><span class="bold">Subject: </span> {{ book.subject}} </p>
                            <p> <span class="bold">Description: </span>{{ book.description }}</p>
                            <p> <span class="bold"> Publisher: </span> {{ book.publisher }}</p>
                            <p> <span class="bold">Edition: </span>{{ book.edition}}</p>
                            <p><span class="bold">Identifier:</span>{{ book.isbn}}</p>
                            {% if book.is_available%}
                            <p><span class="bold">Status:</span> Available</p>
                            {% else %}
                            <p><span class="bold">Status: </span>Not Available</p>
                            {% endif %}
                            <div id="reviewsContainer">
                                <h3>Reviews</h3>
                                {% for review in book.reviews.all %}
                                <div>
                                    <p><strong>Rating:</strong> {{review.rating}}</p><p><strong>Review:</strong>{{review.review}}</p>
                                    <p><strong>Rated by:</strong> {{review.user.username}}</p>
                                </div>
                                {%endfor%}
                            </div>
                            <a href="#" onclick="toggleReviewsSection()">Reviews and Ratings</a>

                        </div>
                        <div class="borrowed-form-wrapper">
                            <form class="form-container" id="borrowedForm" method="post"
                                action="{% url 'borrow-book' book.id %}">
                                {%csrf_token%}
                                <label for="borrowedDate">Borrowed Date:</label>
                                <input type="date" id="borrowedDate" name="borrowedDate">

                                <label for="returnedDate">Returned Date:</label>
                                <input type="date" id="returnedDate" name="returnedDate">

                                <button type="submit">Submit</button>
                            </form>

                            <button class="borrowed-book-link" onclick="toggleBorrowedForm()">Borrowed Books</button>


                        </div>

                      
                    </div>
                   
                </div>
                <div class="reviews-section" id="reviewsSection">
                    <form id="reviewForm" method="post" action="{%url 'student-reviewbook' book.id%}">
                        {% csrf_token %}
                        <label for="review">Write a review:</label>
                        <textarea id="review" name="review" rows="4" cols="50"></textarea>
                        <br>
                        <label for="rating">Rating:</label>
                        <select id="rating" name="rating">
                            <option value="1">★</option> 
                            <option value="2">★★</option> 
                            <option value="3">★★★</option> 
                            <option value="4">★★★★</option> 
                            <option value="5">★★★★★</option> 
                        </select>
                        <br>
                        <button type="submit">Submit Review</button>
                    </form>
    
    
    
                </div>
            </div>

            
        </div>
    </div>

    <script>
        window.onclick = function (event) {
            

            var userDropdown = document.getElementById('user-dropdown');
            if (userDropdown.classList.contains('show') && !event.target.matches('#user-avatar')) {
                userDropdown.classList.remove('show');
            }
        }
        // Function to toggle visibility of the reviews and ratings section
        function toggleBorrowedForm() {
            var borrowedForm = document.getElementById('borrowedForm');
            borrowedForm.style.display = (borrowedForm.style.display === 'none' || borrowedForm.style.display === '') ? 'block' : 'none';
        }

        // Function to toggle visibility of the reviews and ratings section
        function toggleReviewsSection() {
            var reviewsSection = document.getElementById('reviewsSection');
            reviewsSection.classList.toggle('show');
        }

        // Function to submit the borrowed form
        function submitBorrowedForm() {
            const borrowedMessageContainer = document.getElementById('borrowedMessageContainer');
            borrowedMessageContainer.innerHTML = '<p class="success-message">Your request has been submitted!</p>';
        }
    </script>

    <script src="{% static 'employee/profile.js' %}"></script>
   
</body>

</html>